<!DOCTYPE html>
<html>
<head>
    <title>校园微环境节点分布图</title>

    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">

    <script type="text/javascript" src="/javascripts/jquery.js"> </script>
    <script type="text/javascript" src="http://api.go2map.com/maps/js/api_v2.5.1.js"></script>
    <script src="/javascripts/tools.js" type="text/javascript"></script>  
    <style type="text/css">
        #title{
            margin-top: -46px;
            background-color: rgb(81, 138, 189);
            margin-bottom: 2px;
            padding: 10px 0px 10px;
            color: white;
            text-align: center;
            font-size: 30px;
        }
        #btnReturn{
            color: white;
            font-size: 20px;
            margin-top: 0px;
            padding-top: 20px;
            padding-left: 15px;
            background-color: rgb(81, 138, 189);
        }
    </style>

    <script type="text/javascript">
    var g_map;
    var cameraArray = null;
    var markParaList = <%- _markParaList %>;

    $(document).ready(function(){
        // alert('window height => ' + window.screen.height);
        var  title = document.getElementById('title');
        // alert('title height => ' + title.offsetHeight);
        $('#map_canvas').css('height', (window.screen.height- title.offsetHeight - 130)+'px');
        initialize();
    });  
    function initialize()   {
        var latlng  =   new sogou.maps.LatLng(39.96020463653672,116.35820044708252);
        var myOptions   =   {
            zoom:   16,
            center: latlng,
            mapControl: true,
            scaleControl: true,
            hdMap:true,
            mapTypeId:  sogou.maps.MapTypeId.ROADMAP
        };
        var vMapDiv =   document.getElementById("map_canvas");
        g_map   =   new sogou.maps.Map(vMapDiv, myOptions);

        $.ajaxSetup({
            cache:  false
        });

        SetPointMarkOnMap(null);                     
    }

    function SetPointMarkOnMap(Point){
        if(cameraArray == null) cameraArray = new Array();
        for (var i = 0; i < markParaList.length; i++) {
            var markPara = markParaList[i];
            add_camera(markPara.id, markPara.label, markPara.lat, markPara.lng);
        };
        return;         
    }
    function add_camera(guid, text, lat, lng) {
        var iw02      = null;
        // var pos02     = new sogou.maps.LatLng(lat, lng);
        var pos02     = new sogou.maps.Point(lat, lng);
        var marker02    = new   sogou.maps.Marker(
                        {   position:   pos02,
                            map:    g_map,
                            title:  text,//
                            icon:   "/images/sensor.png" 
                        }); 
        if(iw02 == null){
            var temp_html = text;
            // var temp_html = getAddressComponentsHtml('rt.png');
            iw02 = new sogou.maps.InfoWindow({
                    content: temp_html,
                    maxWidth: 300
            });
        }
        if(null != iw02)
        {
          sogou.maps.event.addListener(marker02, 'click', function() {
            // iw02.open(g_map,marker02);
            // start_refresh(guid);
            redirect_to_realtime_camera_form(guid);
          });               
        }               
        var cm02 = new cameraWithMark(guid, marker02, iw02);
        cameraArray.push(cm02);

    }
    function cameraWithMark(cameraID,marker, infowindow)
    {
        this.cameraID = cameraID;
        this.marker = marker;
        this.infowindow = infowindow;
        this.started = 0;//保存是否已经启动自动更新的timer
    }

    function redirect_to_realtime_camera_form (id) {
        var host = get_host_url();
        // var host = window.location.href.substring(window.location.protocol.length);
        top.location.href = host + "/nodeInfo/"+id;
        // body...
    }
        function redirect_to_main_form () {
            var host = get_host_url();
            // var host = window.location.href.substring(window.location.protocol.length);
            top.location.href = host;
            // body...
        }   
    </script>

</head>
<body onload="">
    <div>
        <h3 id= "btnReturn" onclick="redirect_to_main_form()">返回</h3>
        <h3  id = "title">
            校园微环境实况
        </h3>    
    </div>
    <div id="map_canvas" style="width:100%;height:100%; position:relative; top:0px;"> </div>
    <div style="width:100%;height:5px; position:relative; top:0px; background-color: rgb(81, 138, 189);"> </div>

</body>
</html>
