<!DOCTYPE html>  <meta charset="utf-8" />
	<head>
	  <title><%= _title %></title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
	  <style type="text/css">
	        #title{
	            margin-top: 0;
	            background-color: rgb(81, 138, 189);
	            margin-bottom: 2px;
	            padding: 10px 0px 10px;
	            color: white;
	            text-align: center;
	            font-size: 30px;
	        }
			body{
				background-color: rgb(216,218,219);
			}	        
			.row-container{
				border: rgb(206,205,205) 4px solid;
				border-left-style: none;
				border-right-style: none;
				border-top-style: none;
			}
			.left-image{
				width:100%;height:100%;max-width:72px;
			}
			.main-title{
				font-size:150%;margin-top:1%;
			}
			.event-detail{
				margin-top:2%;padding-bottom:2%;color:rgb(123,123,123);font-size:100%;
			}
	  </style>
	<script type="text/javascript" src="/javascripts/jquery.js"> </script>
	<script type="text/javascript" src="/javascripts/tools.js"> </script>
	<script src="/bootstrap/js/bootstrap.min.js"> </script>
	<script type="text/javascript" src = "/javascripts/underscore.js"></script>
	<script language="javascript" type="text/javascript">
		var output;
		var eventList = <%- _eventList %>;
		var elementIDList = [];

		$(document).ready(function(){
				$.ajaxSetup({cache:false});
				setInterval('loopToGetEventInfo()', 8000);
				onMessage(eventList);
		});
		 function loopToGetEventInfo(){
		 	var host = get_host_url();
		 	var url = host + '/ajaxGetEvents';
		  	$.get(url, function(data){
		  		onMessage(JSON.parse(data));
		  	});	 	
		 }
		 function onMessage(_eventList){
		  		_.each(_eventList, function(_event){//添加当前不存在的
		  			updateTile(_event);
		  		});		 	
		  		//删除已经不存在的
		  		_.each(elementIDList, function(_eleID){
		  			var eventNewlyArrived = _.find(_eventList, function(_e){
		  				return ('id_'+_e.eventID) == _eleID;
		  			});
		  			if(eventNewlyArrived == null){
					  	$('#'+_eleID).remove();
		  			}
		  		});
		 }		  

		function updateTile(_event){
			var tile = $('#id_'+_event.eventID);

			if(tile.length <= 0){
		  		var ele='<div class="row  row-container" id = "id_'+ _event.eventID +'">'+
							'<div class="col-xs-3 col-sm-3 col-md-2" >'+
								'<img src="/images/event/empty.png" class="left-image" id="id_image_'+ _event.eventID +'">' +
							'</div>'+
			  				'<div class="col-xs-9 col-sm-9 col-md-10 col-lg-10 ">'+
			  					'<div class="row">'+
				  					'<div class="col-xs-12 col-sm-12 col-md-12 main-title" id = "id_main_title_'+ _event.eventID +'">'+
				  					'</div>'+
			  					'</div>'+
			  					'<div class="row">'+
				  					'<div class="col-xs-12 col-sm-12 col-md-12 event-detail" id="id_event_detail_'+ _event.eventID +'"></div>'+
			  					'</div>'+	 
			  				'</div>'+
			  			'</div>';
			  	$('#tile_container').append(ele);

			  	addElementIDToList('id_'+ _event.eventID);
			}
		  	updateTitle(_event.eventID, _event.eventName);
		  	// updateTitle(_event.eventID, _event.locationName);
		  	updateDetail(_event.eventID, _event.eventDes);
		  	updateIcon(_event.eventID, _event.level);
	  	}
	  	function updateIcon(_eventID, _level){
	  		$('#id_image_'+_eventID).attr('src', '/images/event/'+'level'+_level+'.png');
	  	}
	  	function updateTitle(_eventID, _locationName){
		  	$('#id_main_title_'+_eventID).text(_locationName);
	  	}
	  	function updateDetail(_eventID, _detail){
		  	$('#id_event_detail_'+_eventID).text(_detail);
	  	}
	  	function addElementIDToList(_elementID){
	  		if(!_.contains(elementIDList, _elementID)){
	  			elementIDList.push(_elementID);
	  		}
	  	}
		function writeToScreen(message)
		{
			var pre = document.createElement("p");
			pre.style.wordWrap = "break-word";
			pre.innerHTML = message;
			output.appendChild(pre);
		}
	</script>
  	</head>
  	<body>
    <div style="margin-bottom:5px;">
        <h3  id = "title">
            <%= _title %>
        </h3>    
    </div>
  		<div class="container" id="tile_container">
		</div>
	  <div id="output"></div>
  	</body>
  </html>
  
  
  
  
  
  
  