<!DOCTYPE html>
<html>
<head>
    <title>摄像头实时图像</title>

    <meta name="viewport" content="width=device-width, initial-scale=1"> 
      <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">

    <script src="/javascripts/jquery.js" type="text/javascript"></script> 
    <script src="/javascripts/tools.js" type="text/javascript"></script> 
    <style type="text/css">
        #imgbox-container{
            text-align: center;
        }
        #title{
            margin-top: 0;
            background-color: rgb(81, 138, 189);
            margin-bottom: 2px;
            padding: 20px 0px 10px;
            color: white;
            text-align: center;
        }
        #lblTip{
            text-align: center;
        }
    </style>
    <script type="text/javascript">
      Date.prototype.format = function(format)  
        {  
            /* 
            * format="yyyy-MM-dd hh:mm:ss"; 
            */  
            var o = {  
            "M+" : this.getMonth() + 1,  
            "d+" : this.getDate(),  
            "h+" : this.getHours(),  
            "m+" : this.getMinutes(),  
            "s+" : this.getSeconds(),  
            "q+" : Math.floor((this.getMonth() + 3) / 3),  
            "S" : this.getMilliseconds()  
            }  
            if (/(y+)/.test(format))  
            {  
                format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4  
            - RegExp.$1.length));  
            }  
              
            for (var k in o)  
            {  
                if (new RegExp("(" + k + ")").test(format))  
            {  
                format = format.replace(RegExp.$1, RegExp.$1.length == 1  
                ? o[k]  
                : ("00" + o[k]).substr(("" + o[k]).length));  
            }  
            }  
            return format;  
        }      
    var id = "<%= camera_id %>";

    function initialize()   {
        setInterval("requestRest_refreshImg()", 5000);
        
        $.ajaxSetup({
            cache:  false
        });
    }
    $(document).ready(function(){
        initialize();
    });  
    function freshTime()
    {
        var date = new Date();

        strTime = (date.format("yyyy-MM-dd hh:mm:ss"));
        $("#lblTip").html("更新时间："+ strTime);
    }
    function requestRest_refreshImg()
    {
        // var id = "10001";
        var strUrl  =   "/getNewestPicName/"   +   id;
        $.get(strUrl,
                function(pic_name){
                    $('#imgbox').attr("src","/images/cameraImg/"+pic_name);
                    freshTime();
                });
    }   

    function backToMain(){
        var host = get_host_url();
        // var host = window.location.href.substring(window.location.protocol.length);
        top.location.href = host + "/allmap";
    }
    </script>

</head>
<body>
    <div style="margin-bottom:20px;">
        <h3  id = "title">
            <%= camera_text %>
        </h3>    
    </div>

    <ul class="nav nav-pills"  style="background-color: rgb(81, 138, 189); margin-top: -70px;margin-bottom: 30px;">
      <li class="active" style="margin-left: 20px;"><a href="#" onclick="backToMain()">返回</a></li>
    </ul>


    <div class="container">
        <div class = "row">
<!--             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3  id = "title">
                    <%= camera_text %>
                </h3>    
            </div> -->
            <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="imgbox-container">
                <img id = "imgbox" src="/images/cameraImg/<%= pic_name %>.png" style="max-width: 325px;">
            </div>
            <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h3 id = "lblTip">数据更新中...</h3>
            </div>
        </div>
    </div>    
</body>
</html>