<!DOCTYPE html>  <meta charset="utf-8" />
	<head>
	  <title><%= _title %></title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
	  <style type="text/css">
	        #title{
	            margin-top: 0;
	            background-color: rgb(81, 138, 189);
	            margin-bottom: 2px;
	            padding: 10px 0px 10px;
	            color: white;
	            text-align: center;
	            font-size: 30px;
	        }
			body{
				background-color: rgb(216,218,219);
			}	        
			.row-container{
				border: rgb(206,205,205) 4px solid;
				border-left-style: none;
				border-right-style: none;
				border-top-style: none;
			}
			.left-image{
				width:100%;height:100%;max-width:72px;
			}
			.main-title{
				font-size:150%;margin-top:1%;
			}
			.event-detail{
				margin-top:2%;padding-bottom:2%;color:rgb(123,123,123);font-size:100%;
			}
	  </style>
	<script type="text/javascript" src="/javascripts/jquery.js"> </script>
	<script type="text/javascript" src="/javascripts/tools.js"> </script>
	<script src="/bootstrap/js/bootstrap.min.js"> </script>
	<script type="text/javascript" src = "/javascripts/underscore.js"></script>
	<script language="javascript" type="text/javascript">
		var output;
		var itemList = <%- _itemList %>;
		var elementIDList = [];

		$(document).ready(function(){
				$.ajaxSetup({cache:false});
				// setInterval('loopToGetEventInfo()', 8000);
				onMessage(itemList);


		});
		 function loopToGetEventInfo(){
		 	var host = get_host_url();
		 	var url = host + '/ajaxGetEvents';
		  	$.get(url, function(data){
		  		onMessage(JSON.parse(data));
		  	});	 	
		 }
		 function onMessage(_itemList){
		  		_.each(_itemList, function(_item){//添加当前不存在的
		  			updateTile(_item);
		  		});		 	
		 }		  
		 function testalert(_id){
		 	// if(_id == null) alert(null);
		 	alert(_id); 
		 }
		function updateTile(_item){
			var tile = $('#id_'+_item.eventID);

			if(tile.length <= 0){
		  		var ele='<div class="row  row-container" id = "id_'+ _item.itemID +'">'+
							'<div class="col-xs-3 col-sm-3 col-md-2" >'+
								'<img src="" class="left-image" id="id_image_'+ _item.itemID +'">' +
							'</div>'+
			  				'<div class="col-xs-9 col-sm-9 col-md-10 col-lg-10 ">'+
			  					'<div class="row">'+
				  					'<div class="col-xs-12 col-sm-12 col-md-12 main-title" id = "id_main_title_'+ _item.itemID +'">'+
				  					'</div>'+
			  					'</div>'+
			  					'<div class="row">'+
				  					'<div class="col-xs-12 col-sm-12 col-md-12 event-detail" id="id_event_detail_'+ _item.itemID +'"></div>'+
			  					'</div>'+	 
			  				'</div>'+
			  			'</div>';		  			
		  			
			  	$('#tile_container').append(ele);

				var row = $('#id_'+_item.itemID);
				row.bind('click', function(){
					// testalert(_item.itemID);
					redirect_to_sub_form(_item.itemID);
				});
			}
		  	updateTitle(_item.itemID, _item.mainText);
		  	updateDetail(_item.itemID, _item.subText);
		  	updateIcon(_item.itemID, _item.img);
	  	}
	  	function updateIcon(_ID, _img){
	  		$('#id_image_'+_ID).attr('src', '/images/'+_img);
	  	}
	  	function updateTitle(_ID, _text){
		  	$('#id_main_title_'+_ID).text(_text);
	  	}
	  	function updateDetail(_ID, _text){
		  	$('#id_event_detail_'+_ID).text(_text);
	  	}
	  	function addElementIDToList(_elementID){
	  		if(!_.contains(elementIDList, _elementID)){
	  			elementIDList.push(_elementID);
	  		}
	  	}
		function writeToScreen(message)
		{
			var pre = document.createElement("p");
			pre.style.wordWrap = "break-word";
			pre.innerHTML = message;
			output.appendChild(pre);
		}
	    function redirect_to_sub_form (id) {
	        var host = get_host_url();
	        // var host = window.location.href.substring(window.location.protocol.length);
	        top.location.href = host + "/locationID/"+id;
	        // body...
	    }		
	</script>
  	</head>
  	<body>
    <div style="margin-bottom:5px;">
        <h3  id = "title">
            <%= _title %>
        </h3>    
    </div>
  		<div class="container" id="tile_container">
		</div>
	  <div id="output"></div>
  	</body>
  </html>
  
  
  
  
  
  
  