<!DOCTYPE html>
<html>
<head>
    <title>校园微环境实况</title>

    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">

    <script type="text/javascript" src="/javascripts/jquery.js"> </script>
    <script type="text/javascript" src="http://api.go2map.com/maps/js/api_v2.5.1.js"></script>
    <script src="/javascripts/tools.js" type="text/javascript"></script>  
    <style type="text/css">
        #title{
            margin-top: 0;
            background-color: rgb(81, 138, 189);
            margin-bottom: 2px;
            padding: 10px 0px 10px;
            color: white;
            text-align: center;
            font-size: 30px;
        }
    </style>
    <script type="text/javascript">
        var g_map;
        var cameraArray = null;
        var camera_count = 3;

        $(document).ready(function(){
            // alert('window height => ' + window.screen.height);
            var  title = document.getElementById('title');
            // alert('title height => ' + title.offsetHeight);
            $('#map_canvas').css('height', (window.screen.height- title.offsetHeight - 130)+'px');
            initialize();
        });    
        function initialize()   {
            var latlng  =   new sogou.maps.LatLng(39.96020463653672,116.35820044708252);
            var myOptions   =   {
                zoom:   16,
                center: latlng,
                mapControl: false,
                scaleControl: true,
                hdMap:true,
                mapTypeId:  sogou.maps.MapTypeId.ROADMAP
            };
            var vMapDiv =   document.getElementById("map_canvas");
            g_map   =   new sogou.maps.Map(vMapDiv, myOptions);

            // 12953220.703125   4832605.46875
            // 39.96220463653672,116.36620044708252  北京师范大学
            // 39.8552, 116.4321  北京中心   
            // "", 39.96020463653672,116.35920044708252  科技楼  12953235.69052698,4832523.763818118
            // 39.96141519396341,116.36418342590332  东体育场  12953052.038852531,4832443.172278292
            // 39.95833957034783,116.36599659919739 学十五楼  12953258.371106194,4832013.396833899
            // 39.958684968130434,116.36749863624573 英东楼  12953422.943813816,4832045.246731605

            $.ajaxSetup({
                cache:  false
            });

            SetPointMarkOnMap(null);                     
        }

        function SetPointMarkOnMap(Point){

            if(cameraArray == null) cameraArray = new Array();


            // add_mark("10001", "环境科学楼", 39.961448, 116.358269);    
            // add_mark("1", "科技楼", 39.96020463653672,116.35920044708252);    
            // add_mark("2", "学十五楼", 39.95833957034783,116.36599659919739);    
            // add_mark("3", "英东楼", 39.958684968130434,116.36749863624573);    
            // add_mark("4", "东体育场", 39.96141519396341,116.36418342590332);    
            // add_mark("10003", "学一宿舍楼", 39.960774 ,116.355788);    
            add_mark("1", "科技楼", 12953235.69052698,4832523.763818118);    
            add_mark("2", "学十五楼", 12953258.371106194,4832013.396833899);    
            add_mark("3", "英东楼", 12953422.943813816,4832045.246731605);    
            add_mark("4", "东体育场", 12953052.038852531,4832443.172278292);

            add_mark("10001", "环境科学楼", 12953105.696554419,4832624.495683137, 'camera');    
            add_mark("10002", "科技楼", 12953330,4832523.763818118, 'camera');    
            add_mark("10003", "学一宿舍楼", 12952818.29127303,4832552.995441637, 'camera');        
            add_mark("10004", "排球场", 12953168.911726417,4832409.67315263, 'camera');        
            add_mark("10005", "学子超市", 12952980.49940574,4832104.258715657, 'camera');        

            return;         
        }
        function add_mark(guid, text, lat, lng, type) {
            var iw02      = null;
            var icon = "/images/sensor.png";
            if(type == 'camera'){
                icon = "/images/camera.png";
            }
            // var pos02     = new sogou.maps.LatLng(lat, lng);
            var pos02     = new sogou.maps.Point(lat, lng);
            var marker02    = new   sogou.maps.Marker(
                            {   position:   pos02,
                                map:    g_map,
                                title:  text,//
                                icon:   icon 
                            }); 
            if(iw02 == null){
                var temp_html = text;
                // var temp_html = getAddressComponentsHtml('rt.png');
                iw02 = new sogou.maps.InfoWindow({
                        content: temp_html,
                        maxWidth: 300
                });
            }
            if(null != iw02)
            {
              sogou.maps.event.addListener(marker02, 'click', function() {
                // iw02.open(g_map,marker02);
                // start_refresh(guid);
                redirect_to_realtime_camera_form(guid);
              });               
            }               
            var cm02 = new cameraWithMark(guid, marker02, iw02);
            cameraArray.push(cm02);
        }
        function cameraWithMark(cameraID,marker, infowindow) {
            this.cameraID = cameraID;
            this.marker = marker;
            this.infowindow = infowindow;
            this.started = 0;//保存是否已经启动自动更新的timer
        }

        function redirect_to_realtime_camera_form (id) {
            var host = get_host_url();
            // var host = window.location.href.substring(window.location.protocol.length);
            if(id < 10000){
                top.location.href = host + "/nodeInfo/"+id;
            }else{
                top.location.href = host + "/index_realtime_camera_full/"+id;
            }
            // body...
        }
    </script>

</head>
<body>

    <div>
        <h3  id = "title">
            校园微环境实况
        </h3>    
    </div>
    <div id="map_canvas" style="width:100%;height:100%; position:relative; top:0px;"> </div>
    <div style="width:100%;height:5px; position:relative; top:0px; background-color: rgb(81, 138, 189);"> </div>

</body>
</html>
